.map {
  width: 1920px;
  height: auto;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  margin: 0;
}

.draggable-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapPin {
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  z-index: 1;
  pointer-events: none;
}
